pydata-sphinx-theme==0.8.1
Sphinx==4.5.0
sphinx-basic-ng==1.0.0b1
sphinx-book-theme==0.3.3
sphinx-copybutton==0.5.0
sphinx-git==11.0.0
sphinx-reload==0.2.0
sphinxcontrib-applehelp==1.0.2
sphinxcontrib.asciinema==0.3.4
sphinxcontrib-bibtex==2.5.0
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==2.0.0
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.5